Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/MultiplayerSessions/Intermediate
Plugins/MultiplayerSessions/Binaries
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace